# Zmienne środowiskowe i klucze API (BARDZO WAŻNE!)
.env
*.env

# Python
__pycache__/
*.py[cod]
.venv/
env/
venv/

# Flutter/Android
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
*.spec
*.aab
*.apk

# IDE
.vscode/
.idea/
*.swp